.header {
    line-height: 60px;
    .active { color: #fff;background-color: rgb(12, 127, 244);}
    .header-top {
        height: 60px;
        line-height: 60px;
        padding: 0 20px;
        text-align: right;
        a{
            margin-left: 10px;
        }
        .common_log{
            text-align: left;
            height: 60px;
            
            img{height: 40px; border-radius: 50%;}
            span{margin-left: 5px;}
        }
    }
    .breadcrumb {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        border-top: 1px solid #ccc;
    }
    .breadcrumb-title {
        text-align: center;
    }
    .weatch {
        text-align: right;
    }
}